{% extends "base.html" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <h1>404 Not Found</h1>
    <p>The guild and realm combination you requested either does not exist or does not have any members with a Heart of Azeroth.</p>
{% endblock %}
