<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} :: Azerite Power Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header>
            <div id="title">Azerite Power Leaderboard</div>
            <form action="{{ url_for('guild.redirect_from_form') }}" method="get" id="search">
                Guild: <input type="text" name="guild" /><br />
                Realm: <input type="text" name="realm" /><br />
                <input type="submit" hidden="hidden" />
            </form>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>Created by <code>huntertur#3262</code> on Discord. <a href="https://gitlab.com/huntertur/azerite_power_leaderboard">GitLab repo</a></p>
        </footer>
    </body>
</html>
