{% extends "base.html" %}

{% block title %}&lt;{{ guild_info["name"] }}&gt;-{{ guild_info["realm"] }}{% endblock %}

{% block content %}
    <h1>Leaderboard for <a href="https://worldofwarcraft.com/en-us/guild/us/{{ guild_info['realm'] }}/{{ guild_info['name']|replace(' ', '-') }}/">&lt;{{ guild_info["name"] }}&gt;-{{ guild_info["realm"] }}</a></h1>
    <p>Last updated on {{ datetime.utcfromtimestamp(guild_info["last_update"]).strftime("%Y-%m-%d %H:%M:%S") }} UTC.</p>
    <table>
        <tr>
            <th>Rank</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Class</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
        {% for char in characters %}
            <tr>
                <td class="rank">{{ loop.index }}</td>
                <td class="picture"><img alt="{{ char['name'] }}-{{ char['realm'] }}'s portrait" class="thumbnail" src="https://render-us.worldofwarcraft.com/character/{{ char['thumbnail'] }}" /></td>
                <td><a href="https://worldofwarcraft.com/en-us/character/{{ char['realm'] }}/{{ char['name'] }}">{{ char['name'] }}</a></td>
                <td>{{ char['class'] }}</td>
                <td>{{ char['ap_level'] }}</td>
                <td>{{ char['ap_xp'] }} / {{ char['ap_xp_remaining'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
