body {
    background-color: lightblue;
    font-family: sans-serif;
    margin: 0;
}

header {
    align-items: center;
    background-color: darkblue;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
}

div#title {
    font-size: 2em;
}

form#search {
    text-align: right;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: skyblue;
}

tr:hover {
    background-color: lightsteelblue;
}

th, td {
    padding: 0 0.5em;
}

td.rank {
    text-align: right;
    font-weight: bold;
    font-size: 2em;
}

img.thumbnail {
    height: 50%; /* The thumbnails are currently very blurry */
    width: 50%;
}

footer {
    border-top: 1px dotted black;
}

td.picture {
    text-align: center;
}
